//    Font Family
$primary-font: 'Roboto',
sans-serif;
$title-font: 'Playfair Display',
sans-serif;
/*--------------------------- Color variations ----------------------*/

$primary-color: #61c524;
$primary-color2: #46dbb7;
$title-color: #000000;
$text-color: #777777;
$white: #fff;
$offwhite: #f9f9ff;
$black: #000000;